.row {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.accordion_actions {
    justify-content: flex-end;
}
.accordion_actions .icon {
    font-size: 1.5rem;
    margin: 5px 10px;
    cursor: pointer;
}
.accordion_actions .deleteIcon {
    color: red;
}
.accordion_actions .editIcon {
    color: blue;
}

.cancelIcon {
    color: red;
}
.checkIcon {
    color: green;
}