.row {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

div.w_33 {
    width: 33.333%;
}

.user_data {
    width: 100%;
}

.user_data .data_title {
    color: rgb(124, 124, 124);
}
.user_data .data, 
.user_data .data_title {
    display: block;
}

.user_data .capitalise {
    text-transform: capitalize;
}